:root {
  --white: #fff;
  --black: #000;
  --bg-color: #f7f7f7;
  --hire-us-bg: rgb(20, 27, 130);
  --font-color-base: #666;
  --font-color-link: #57a6ff;
  --button-color: #1f88ff;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

html {scroll-behavior: smooth;}

body {
  font-family: "open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

.main-container {
  /* width: 75rem; */
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: #666;
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

h2 {
  font-size: var(--size-30);
  font-weight: 600;
  line-height: 1.7;
  color: var(--black);
}

h3 {
  font-weight: 600;
  color: var(--black);
}

h4 {
  font-weight: 600;
  color: var(--black);
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: var(--button-color);
  color: var(--white);
  /* box-shadow: 0px 10px 20px rgba(255, 255, 255, 35%); */
  padding: 0.475rem 1.75rem;
  border-radius: 25px;
  font-weight: 700;
}

.top-buttons {
  border: none;
  outline: none;
  background-color: var(--bg-color);
}

.logo-icons {
  padding: 0.9375rem;
  box-shadow: 0 0 10px rgb(48 63 100 / 15%);
  background-color: var(--white);
  border-radius: 50%;
  width: var(--size-30);
  position: relative;
  animation: mymove 2s 1;
}

@keyframes mymove {
  0%   {top: 100px;}
  100% {top: 0px;}
  from { opacity: 0; }
  to   { opacity: 1; }
}

