.header1 {
  display: flex;
  background-color: var(--bg-color);
  flex-wrap: wrap;
}

.top-menu {
  margin-left: 5.3125rem;
  margin-right: auto;
}

.top-demo-doc {
  margin-right: 65px;
}

.docs {
  margin-left: var(--size-20);
}

.main-header2 {
  background-color: var(--bg-color);
}

.brand-name {
  height: var(--size-30);
  width: var(--size-100);
  margin-left: 5.3125rem;
  margin-right: auto;
}

.navbar-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navLink {
  margin-right: var(--size-20);
  text-transform: uppercase;
}

.navLink a:hover {
  color: var(--font-color-link);
  font-weight: 600;
}

.buy-now {margin-right: 4.375rem;}

.main-header-container, .empower-container {
  display: flex;
  align-items: center;
  padding: var(--size-20) 0;
  flex-wrap: wrap;
}

.empowering {
  width: 100%;
  height: 25.115rem;
  position: relative;
  z-index:0;
  padding-top: var(--size-10); 
  margin-bottom: var(--size-150);
}

.empowering::before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 0px 100%);
  background-color: var(--bg-color);
}

.block-text {
  margin-left: 8.125rem;
  margin-right: auto;
  position: relative;
  top: var(--size-30);
}

.block-text h1 {
  font-size: var(--size-40);
  font-weight: 600;
  color: var(--black);
  margin-bottom: 0;
}
.block-text p {
  font-size: 15px;
  margin-bottom: var(--size-40);
}

.emp-vid {
  padding: 0.75rem 0.85rem;
  margin-right: var(--size-20);
}

.learn-more {
  color: var(--font-color-link);
  font-weight: 800;
}

.emp-icons {
  display: grid;
  grid-template-rows: 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem;
  grid-template-columns: 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem;
  margin-left: 6.25rem;
  position: relative;
  top: var(--size-40);
  margin-right: var(--size-50);
}

.google {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.atlassian {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.asana {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.paypal {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.Weave {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.google-ads {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  position: relative;
  left: var(--size-20);
}

.calendar {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}

.key-benefits {margin-bottom: var(--size-100);}

.key-cards {
  display: flex;
  gap: var(--size-30);
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
 width: 13.4375rem;
 padding: var(--size-30);
 box-shadow: 0 0 10px rgb(48 63 100 / 15%);
 background-color: var(--white);
 border-radius: 8px;
 transition: transform 0.2s;
}

.cards:hover {
  transform: scale(1.1)
}

.main-text {
  text-align: center;
  color: var(--black);
  margin-bottom: var(--size-100);
}

.cards img {
  width: 3.4375rem;
}

.card3 {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto auto auto auto;
}

.card3 img {
  grid-column-start: 1;
  grid-row-start: 1;
}
 .card3 h3 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.card3 .color-p {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-top: 1.125rem;
  margin-left: 0.5rem;
  width: 3.4375rem;
  background-color: rgb(2, 194, 18);
  text-align: center;
  color: white;
  border-radius: 3.125rem;
  font-weight: 700;
}

.card3 .par {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}

.card3 a {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.different-perspectives {margin-bottom: var(--size-100);}

.perspective-container {
  display: flex;
  height: 30rem;
  background-color: var(--bg-color);
  flex-wrap: wrap;
  /* width: 99%; */
}

.text-container {
  margin: auto auto auto 5rem;
  font-size: var(--size-20);
}

.banner1 {
 width: 41.5625rem;
  margin-top: auto;
  animation: mymove 2s 1;
}

.why-front {
  margin-bottom: var(--size-100);
  height: 46.25rem;
  margin-bottom: var(--size-50);
}

.why-front-container {
  width: 50rem;
  margin: auto;
 
}

.top-front-text-container {
  text-align: center;
  margin-bottom: var(--size-50);
}

.front-text-container h2 {color: var(--black);}

.dots-inline {
  display: flex;
  justify-content: space-evenly;
  width: 43.75rem;
  margin: auto;
  margin-bottom: var(--size-50);
  flex-wrap: wrap;
}

.set1 {
 display: flex;
 width: 16.875rem;
 justify-content: space-between;
}

.set2 {
  display: flex;
  width: 19.6875rem;
  justify-content: space-evenly;

}

.dots {
  font-size: 1.625rem;
  text-align: center;
  width: 3.4375rem;
  height: 3.4375rem;
  background-color: var(--bg-color);
  color: var(--button-color);
  border-radius: 50%;
  margin: auto;
}

.line1 {
  flex-grow: 0.9;
  border-top: 1px solid lightgray;
  margin-top: 1.75rem;
}

.line {
  flex-grow: 0.7;
  border-top: 1px solid lightgray;
  margin-top: 1.75rem;
  position: relative;
  left: var(--size-20);
}

.line3{
  flex-grow: 0.9;
  border-top: 1px solid lightgray;
  margin-top: 1.75rem;
  position: relative;
  left: -1.125rem;
  width: 1.6875rem;
}

.vid-link {position: relative;}

.video-button {
  background-color: var(--white);
  color: var(--black);
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 10px 20px rgb(222 222 222 / 30%);
}

.fa-play {
  position: relative;
  top: 30%;
  left: 40%;
}

.testimonial-section {padding-top: 1.5625rem;}

.testimonial {
  display: flex;
  justify-content: center;
  margin: var(--size-150) 0;
  flex-wrap: wrap;
}

.testimonial-picture {
  position: relative;
  margin-right: var(--size-20);
  width: 31.25rem;
}

.background-dots {
  width: 13.1875rem;
  margin-left: var(--size-10);
}

.main-pic {
  width: 27.125rem;
  position: absolute;
  left: 3.25rem;
  top: -9.75rem;
}

.test-text-container img {
  width: var(--size-100);
}

.test-text-container h4 {
  margin-bottom: 0;
  font-size: var(--size-18);
}

.trusted-section p {
  text-align: center;
  margin-bottom: var(--size-30);
}

.company-logos {
  display: flex;
  width: 50rem;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logos {width: var(--size-100);}

.pricing-section {margin-bottom: var(--size-150);}

.price-text-container {
  text-align: center;
  margin-top: var(--size-100);
  margin-bottom: var(--size-50);
}

.price-text-container h2 {
  font-size: var(--size-40);
  margin-bottom: 0;
}

.pricing-info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  margin-left: 3.75rem;
}

.price-card {
 width: 25rem;
 padding: var(--size-30);
 box-shadow: 0 0 10px rgb(48 63 100 / 15%);
 background-color: var(--white);
 border-radius: 8px;
 height: 23.4375rem;
 grid-row-start: 1;
 grid-row-end: 3;
}

.price-icons {width: 3.4375rem;}

.pricing-btn {
  padding: 0.9375rem var(--size-20);
}

.small-print-btn {
  margin-top: var(--size-10);
  font-size: var(--size-10);
}

.price-cards {animation: mymove 2s 1;}

.hire-us-section {
  background-color: #07128c;
  height: 43.75rem;
}

.hire-us h2 {color: var(--white);}

.hire-us p {
  color: var(--white);
  margin-bottom: 0;
}

.hire-us hr {
  width: 10.625rem;
  float: left;
}

.hire-us small {
  color: #dbdbdb;
}

.hire-us-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hire-us {
  margin-right:10.9375rem;
  height: 28.125rem;
  position: relative;
  top: var(--size-100);
}

#quote-carousel {
  padding: 0 var(--size-10) var(--size-30) var(--size-10);
  margin-top: 3.75rem;
}
#quote-carousel {
  background: none;
  color: var(--white);
  font-size: 1.3em;
  text-shadow: none;
  margin-top: var(--size-30);
}
#quote-carousel .carousel-indicators {
  position: relative;
  top: auto;
  bottom: 0px;
  margin-top: var(--size-20);
  /* margin-right: -1.1875rem; */
}
#quote-carousel .carousel-indicators li {
  width: var(--size-50);
  height: var(--size-50);
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0.4;
  overflow: hidden;
  transition: all .4s ease-in;
  vertical-align: middle;
  display: inline-flex;
  margin-right: var(--size-20);
}
#quote-carousel .carousel-indicators .active {
  width: 3.75rem;
  height: 3.75rem;
  opacity: 1;
  transition: all .2s;
}

.item blockquote {
  border-left: none;
  margin: 0;
}

.form-div {
  position: relative;
  top: var(--size-30);
  right: -3.125rem
}


.form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: var(--size-10);
  width: 23.75rem;
  background-color: var(--white);
  padding: 2.1875rem;
}

.form h4 {
  font-size: var(--size-20);
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.form p {
  text-indent: var(--size-20);
  color: var(--font-color-base);
}

.form a {border-bottom: 1px dashed;}

#first-name {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: var(--size-10);
  border-radius: 8px;
}

#last-name {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: var(--size-10);
  border-radius: 8px;
}


#email {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: var(--size-10);
  border-radius: 8px;
}

#website {
  grid-row-start: 3;
  grid-column-start: 2;
  padding: var(--size-10);
  grid-column-end: 3;
  border-radius: 8px;
}

#budget {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: var(--size-10);
  border-radius: 8px;
}

#country {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: var(--size-10);
  border-radius: 8px;
}

#more-info {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 8px;
}

#privacy-policy {
  grid-row-start: 6;
  grid-column-start: 1;
  border-radius: 8px;
}

.policy-p {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 8px;
}

.form-button {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 8px;
}

.form-button {
  padding: var(--size-10);
  text-align: center;
  font-size: var(--size-18);
  border-radius: 8px;
}

.footer-top {background-color: var(--bg-color);}

.footer-top-container {
  display: flex;
  gap: var(--size-40);
  justify-content: space-evenly;
  height: 14.0625rem;
  padding-top: var(--size-150);
  padding-bottom: var(--size-30);
  flex-wrap: wrap;
}

.contact-info img {
  width: 7.8125rem;
  margin-bottom: var(--size-30);
}

.company, 
.features, 
.documentation, 
.resources {
  display: grid;
  gap: 10px;
  
}

.company a small {
  background-color: blue;
  color: var(--white);
  border-radius: 8px;
  padding: 3px;
}

.resources {
  margin-bottom: 0;
  height: 20px;
}

.footer-bottom {background-color: var(--bg-color);}

.links {
  display: flex;
  margin-bottom: var(--size-20);
  flex-wrap: wrap;
}

.left-links {
  position: relative;
  left: 7.1875rem;
  margin-right: auto;
}

.right-links {
  position: relative;
  right: var(--size-100);
}

#language-country {margin-left: var(--size-10);}

.fa-facebook-square,
.fa-google,
.fa-twitter-square {margin-left: var(--size-10);}

.right-reserved-div {text-align: center;}